:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very-dark-blues : hsl(217, 54%, 11%);
    --Very-dark-bluee : hsl(216, 50%, 16%);
    --Very-dark-blue : hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    --border-radius: 1.5rem
}

/* Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Utilities */

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.flow-content > * {
    margin-top: 2rem;
}

.white-color {
    color: #fff;
}

/* General */

html {
    font-family:"Outfit";
    font-size: 62.5%;
}

body {
    display: grid;
    color: var(--Soft-blue);
    place-items: center;
    font-size:1.8rem;
    min-height: 100vh;
    background-color: var(--Very-dark-blues);
}

/* Main Box */

.container {
    max-width: 35rem;
    background-color: var(--Very-dark-bluee);
    border-radius: var(--border-radius);
    padding: 2rem 2rem ;
}


.nft-img {

    border-radius: var(--border-radius);
}
.nft-avatar {
    border: 1px solid white;
    border-radius: 50%;
}

.nft-img-wrapper {
    display: inline-block;
    position: relative;
}


.nft-view-icon {
  position: absolute;
  inset: 0;
  background-color: cyan;

  border-radius: var(--border-radius);

}

.view-icon svg , .nft-view-icon {
    color: white;
    font-size: 40px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.view-icon {
    position: absolute;
    inset: 40%;
}

.nft-img-wrapper:hover .nft-view-icon {
    opacity: .7;
}

.nft-img-wrapper:hover .view-icon svg {
    opacity: 1;
}

.icons {
    justify-content: space-between;
    font-size: 1.55rem;
}

.avatar-name {
    font-weight: 500;
}

.nft-footer {
    font-size: 1.55rem;
    border-top: 1px solid var(--Very-dark-blue);
}
.nft-txt h3:hover , .nft-name:hover {
    color: var(--Cyan);
    cursor: pointer;
}
.description {
    color: var(--Soft-blue);
    font-weight: 200;
}

.icons-ETH p {
    color: var(--Cyan);
    font-weight: 600;
}